*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 64.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  color: rgb(44, 44, 44);
}

#content {
  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navigation-links,
.sm-links {
  background-color: #999;
}

.navigation-links {
  list-style: none;
  display: flex;

  justify-content: center;
  gap: 2.5rem;
  padding: 1rem;
}

.navigation-links a {
  color: white;
  text-decoration: none;
}

.sm-links {
  list-style: none;
  display: flex;

  justify-content: center;
  gap: 2.5rem;
  padding: 0.5rem;
}

.sm-links a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-areas: "content image";
}

.hero-content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
  padding-inline: 5rem;
  text-align: right;
}

.hero-subheading {
  font-size: 2.4rem;
}

.hero-heading {
  font-size: 3.6rem;
}

.btn-cta {
  margin-left: auto;
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 1rem 2rem;
  width: 25rem;
  background-color: orange;
  border-radius: 4px;
}

.hero-img {
  background-color: aliceblue;
  background-image: url(/src/images/hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 100px;
  padding-bottom: 100px;
  grid-area: image;
}

.menu-heading {
  text-align: center;
  margin-top: 5rem;
  font-size: 3.2rem;
}

.menu-list {
  padding: 2rem 4rem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 4rem;
}

.menu-list ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}

.menu-list li {
  width: 30rem;
}

.menu-categories {
  color: orange;
}

.menu-dish {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px black dotted;
}

.contacts {
  width: 80rem;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 5rem auto;
  gap: 3rem;
}

img {
  width: 600px;
}
